/*  */
/* fonte google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

/* Reset CSS */
*{
padding: 0;
margin: 0;
box-sizing: borde-box;
font-family: 'Poppins',sans-serif;
text-decoration: none;
font-size: 18pt;
}
/* var de cores */
:root{
    --gray:#808080;
    --Lgray:#504f4f;
    --green:#274e38;
    --Lgreen: #065f06;
}

/* body */
body{
    font-family: 'Poppins',sans-serif;
    flex-wrap: wrap;
    background-color:var(--gray);
    
}
/* textos */
section h1,h2,h3{
    color: var(--green);
}
h1{
    font-size: 2rem;
}



/* HEADER BAR */
.header-mb{
    display: none;
}

.header-dk{
    overflow: hidden;/* esconde se passar */
    background-color: gray; /* fundo do nav */
    display: flex; /* vai se mover */
    align-items: center; /* itens de dentro, vai pro centro */
    justify-content: space-between; /* vai ser dado espaço de acordo */
    width: 100dvw; /* total da tela */
    position:relative;
    box-shadow: 0 0.1rem 0.5rem var(--Lgray); /* embaça */
} 

.header-dk ul{
    display: flex;
    align-items: center;
    gap: 8dvw;
}
/* foto */
.header-dk img{
    width: 10dvw;
    padding: 1rem;
}

.nav ul li {
    list-style: none;/* tira a listagem */
    padding: 1rem;
    text-decoration: none;
}

.nav a{
    color: var(--green);
    font-weight: bold;
}

.nav a:hover{
    color: var(--Lgreen);
}



/* SECTION*/

/* alinhamento dos itens */
#camptime{
    flex-direction: row;
    display: flex;
    margin-top:3rem;
    width: 90dvw;
    margin-left: 2rem;
    
}
/* tamanho da foto */
#itemOne img{
    width: 8dvw;
}


#itemSec img{
    width: 8dvw;
}

#itemTird img{
    width: 8dvw;
}
/* blocos  */
.lineTime{
    display: flex;
    flex-direction:column;
    justify-content:space-between ;
    align-items:baseline ;
    padding: 5dvb;
    border-top: 10px dashed var(--green);
}

/* textos das imagens */
.lineTime h3{
    font-size: 15pt;
}

/* div text do lado*/
#textmyself{
    margin-left: 2rem;
}


/* SECTION 2 SKILLS */
#skills{
    margin-top: 5rem;
}
/* texto e foto do lado */
.broken{
    display: inline-block;
}
.broken #talk{
    width: 50dvw;
    border-radius: 3rem;
    margin-left: 1rem;
}
#softSK li{
    list-style: none;
}

/* fotos skills redes */
.album{
    margin: 0;
    padding: 2rem;
    overflow: hidden;/* esconde se passar */
    list-style: none;
}

.album li{
    float: left;
    width: 15dvw;
    height: 30dvh; /* inverter a altura e largura depois na responsividade */
    margin: 0rem 1rem 2rem 1rem; /* cima,direita,baixo,esquerda */
    box-shadow: 0 0.1rem 0.5rem var(--Lgray); /* borrado de fundo */
    border-radius: 1rem;
}
/* add fotos redes*/
.HKnetft1{
    background: url('/MiniprojetoPortRSB/_img/dhcp.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}
.HKnetft2{
    background: url('/MiniprojetoPortRSB/_img/dns.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}
.HKnetft3{
    background: url('/MiniprojetoPortRSB/_img/ftp.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}
.HKnetft4{
    background: url('/MiniprojetoPortRSB/_img/webiis.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}
/* espaço de tituli redes */
.netSimbol{
    margin-top: 5rem;
}
/* add fotos developer */
.HKdevft1{
    background: url('/MiniprojetoPortRSB/_img/front.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}
.HKdevft2{
    background: url('/MiniprojetoPortRSB/_img/back.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}
.HKdevft3{
    background: url('/MiniprojetoPortRSB/_img/mobile.png') no-repeat; /* coloca a ft e não repete */
    background-position: 50% 50%; /* no fundo no meio */
    background-size: 200px 200px; /* tamanho  largura e altura */
}



/* SECTION 3 view JS */
.preview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem 5rem 2rem 5rem; /* cima,direita,baixo,esquerda */
    box-shadow: 0 0.1rem 0.5rem var(--Lgray); /* borrado de fundo */
    border-radius: 2rem;
}

.preview img{
    width: 30dvw;
    border-radius: 2rem;
}

.preview .clickUP:hover{
    box-shadow: 0 0.1rem 0.5rem var(--Lgray); /* borrado de fundo */
    cursor: pointer;
}

#viewTi,#viewPDA,#viewSchool{
    margin: 2rem;
}

.repertory{
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
}

.repertory:hover{
    color: var(--Lgreen);
}



/* FOOTER */
#footer{
    background-color:var(--green);
    color: white;
    border-top: solid 2rem black;
    width: 100dvw;
}
.direction img{
    width: 5dvw;
}











/* RESPONSIVIDADE */
/* celulares */
@media(max-width:1000px){
    /* textos */
    h1{
        font-size: 15pt;
        overflow: hidden;
    }

    p{
        font-size:10pt;
    }
    li{
        font-size:10pt;
    }
    b{
        font-size:10pt;
    }
    h2{
        font-size:10pt;
    }
    a{
        font-size:1rem;
    }
    
    /* aparece e desaparece */
    .header-dk{
        display: none;
    }
    .header-mb{
        display: flex;
    }
    
    .header-mb{
        /* overflow: hidden; esconde se passar */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 2rem;
        font-size: 15pt;

    } 

    .header-mb img{
        width: 30dvw;
        padding: 0rem;
    }

    .cont-ul{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        align-items: center;
    }



    /* SECTION 1*/

/* alinhamento dos itens */
#camptime{
    flex-direction:column;
    
}
/* tamanho da foto */
#itemOne img{
    width: 15dvw;
}


#itemSec img{
    width: 15vw;
}

#itemTird img{
    width: 15dvw;
}
/* blocos  */
.lineTime{
    display: flex;
    flex-direction:column;
    justify-content:space-between ;
    align-items:baseline ;
    padding: 5dvb;
    border-top: none;
    border-left: 10px dashed var(--green);
}



/* SECTION 2 ALBUM */
.album li{
    float: left;
    width: 50dvw;
    height: 35dvh; /* inverter a altura e largura depois na responsividade */
}



/* SECTION 3 view JS */
.preview{
    padding: 0px;
    padding-right: 0%;
    margin: 0rem 0rem 2rem 0rem; /* cima,direita,baixo,esquerda */
    box-shadow: 0 0.1rem 0.5rem var(--Lgray); /* borrado de fundo */
    border-radius: 2rem;
}

.preview img{
    width: 40dvw;
}

.preview .clickUP:hover{
    box-shadow: 0 0.1rem 0.5rem var(--Lgray); /* borrado de fundo */
    cursor: pointer;
}

/* #viewTi,#viewPDA,#viewSchool{
    margin: 2rem;
} */



.direction img{
    width: 15dvw;
}


}